<!--
  The Titanium UX Template Library
  http://www.uxmobilepatterns.com
  
  Settings: a settings form template
  
-->


<Alloy>
	<Window title="Settings">
		
		
		<TableView backgroundColor="#eee" class="tableview-form">
			<TableViewSection>

				<TableViewRow height="70">
					<Label class="label-H5" textAlign="center">This is a typical settings form, built in a few minutes with The Ti UX Library.</Label>
				</TableViewRow>
				<Widget src="ti.ux.forms.row.text" title="" hintText="Insert your event name" />
				
				<Widget src="ti.ux.forms.row.switch" title="All-day event" value="false" />
				
				<Widget src="ti.ux.forms.row.timepicker" minDate="" maxDate="" value="" title="Starts" icon="fa-clock-o" platform="ios"/>
				
				<Widget src="ti.ux.forms.row.timepicker" minDate="" maxDate="" value="" title="Ends" icon="fa-clock-o" platform="ios"/>
				
				<Widget src="ti.ux.forms.row.timepicker" minDate="" maxDate="" value="" title="Date picker" icon="fa-calendar" pickerType="Ti.UI.PICKER_TYPE_DATE"/>
				
				<TableViewRow><View class="view-row-separator"/></TableViewRow>
				
			</TableViewSection>			

			<TableViewSection>
				<HeaderView>
					<View class="view-headerview-form">
						<Label class="label-tableviewsection-header" text="SETTINGS"/>
						<View class="view-row-separator" />
					</View>
				</HeaderView>

				<Widget src="ti.ux.forms.row.optionspicker" title="Repeat" value="1" cancel="3" options="Never|Each hour|Everyday|Cancel" icon="fa-repeat"/>
				<Widget src="ti.ux.forms.row.optionspicker" title="Show as" value="0" options="Busy|Free|Playing|Coding|Surfing|Freaking|Drinking|Eating|Meditating" dialogType="popup" icon="fa-user"/>
				<Widget src="ti.ux.forms.row.optionspicker" title="Show as (modal)" value="3" options="Busy|Free|Playing|Coding|Surfing|Freaking|Drinking|Eating|Meditating" dialogType="modalwindow" icon="fa-user"/>
				<Widget src="ti.ux.forms.row.optionspicker" title="Alert" value="1" options="None|On day of event|1 day before|2 days before|1 week before" dialogType="dialog" icon="fa-bell-o"/>

				<Widget src="ti.ux.forms.row.switch" title="Add location" value="false" icon="fa-map-marker"  />
				<Widget src="ti.ux.forms.row.switch" title="Share in Facebook" value="true" icon="fa-facebook-square" iconColor="#66f"/>
				<Widget src="ti.ux.forms.row.switch" title="Share in Twitter" value="true"  icon="fa-twitter-square"  iconColor="#66f" />
				
				<Widget src="ti.ux.forms.row.text" inputType="textarea" title="" hintText="Notes..." />		
				
				<TableViewRow><View class="view-row-separator"/></TableViewRow>
			</TableViewSection>			
				
			
		</TableView>
	</Window>
</Alloy>

